#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 18em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  -webkit-animation: logo-spin 5s infinite linear;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #4232a1);
}

@-webkit-keyframes logo-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.titleContainer {
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  padding: 0;
  line-height: 5px;
}

.titleDiv h1 {
  font-size: 4rem;
  font-family: "AltoneBold";
}

.titleDiv h3 {
  font-size: 2rem;
  font-weight: 200;
}

span {
  font-size: 1.2rem;
  color: #888;
  font-family: "AltoneBold";
}

.read-the-docs {
  color: #888;
}

@media (max-width: 768px) {
  .logo {
    height: 12em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
}
